In [1]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier

from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix

from sklearn.model_selection import train_test_split

from sklearn import metrics

In [2]:
dir = "../../data/week03.csv"
df = pd.read_csv(dir)
df.head()

   ustat  alph1  alph2  beta  chi  diff
0      1      2      1     0    0     0
1      1      2      1     0    0     0
2      1      2      1     0    0     0
3      1      2      1     0    0     0
4      0      2      1     0    0     0

In [3]:
# Split into small chi and large chi

In [4]:
small_chi_df = df.loc[df['chi'] == 0]

In [5]:
small_chi_df

     ustat  alph1  alph2  beta  chi  diff
0        1      2      1     0    0     0
1        1      2      1     0    0     0
2        1      2      1     0    0     0
3        1      2      1     0    0     0
4        0      2      1     0    0     0
..     ...    ...    ...   ...  ...   ...
361      1      2      1     0    0     0
362      1      2      1     0    0     0
363      1      2      1     0    0     0
364      0      2      1     0    0     0
365      0      2      1     0    0     0

[366 rows x 6 columns]

In [6]:
large_chi_df = df.loc[df['chi'] == 1]

In [7]:
large_chi_df

     ustat  alph1  alph2  beta  chi  diff
366      1      2      1     0    1     0
367      1      1      0     0    1     0
368      1      1      0     0    1     0
369      1      1      0     0    1     0
370      1      2      1     0    1     0
371      1      1      0     0    1     0
372      1      1      0     0    1     0
373      1      2      1     0    1     1
374      1      2      1     0    1     1
375      1      2      1     0    1     0
376      1      2      1     0    1     0
377      1      2      1     0    1     0
378      1      1      0     0    1     0
379      1      1      0     0    1     0
380      1      2      1     0    1     0
381      1      2      1     0    1     0
382      1      1      0     0    1     0
383      1      1      0     0    1     0
384      1      1      0     0    1     0
385      1      1      0     0    1     0
386      1      1      0     0    1     0
387      1      1      0     0    1     0
388      1      1      0     0    1     0
389      1      2      0     0    1     0
390      1      2      0     0    1     0
391      1      2      0     0    1     0
392      1      2      0     0    1     0
393      1      2      0     0    1     0
394      1      2      1     0    1     1
395      1      2      1     0    1     1
396      1      1      0     0    1     0
397      1      2      1     0    1     0
398      1      2      1     0    1     0
399      1      2      1     0    1     0
400      1      2      1     0    1     0
401      1      2      1     0    1     0
402      1      1      1     0    1     1
403      1      2      1     0    1     0

In [8]:
df = small_chi_df

In [9]:
df

     ustat  alph1  alph2  beta  chi  diff
0        1      2      1     0    0     0
1        1      2      1     0    0     0
2        1      2      1     0    0     0
3        1      2      1     0    0     0
4        0      2      1     0    0     0
..     ...    ...    ...   ...  ...   ...
361      1      2      1     0    0     0
362      1      2      1     0    0     0
363      1      2      1     0    0     0
364      0      2      1     0    0     0
365      0      2      1     0    0     0

[366 rows x 6 columns]

In [10]:
y = df['chi']
x = df.drop(['chi'], axis=1)

print(x)
print(y)

     ustat  alph1  alph2  beta  diff
0        1      2      1     0     0
1        1      2      1     0     0
2        1      2      1     0     0
3        1      2      1     0     0
4        0      2      1     0     0
..     ...    ...    ...   ...   ...
361      1      2      1     0     0
362      1      2      1     0     0
363      1      2      1     0     0
364      0      2      1     0     0
365      0      2      1     0     0

[366 rows x 5 columns]
0      0
1      0
2      0
3      0
4      0
      ..
361    0
362    0
363    0
364    0
365    0
Name: chi, Length: 366, dtype: int64

In [11]:
# Train test split to make training and testing set. Ratio is 66:33
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size=0.33, random_state=42)

In [12]:
# Algorithms

"LOGISTIC REGRESSION"
def logReg(xTrain, yTrain):
    # from sklearn document on LogisticRegression
    clf = LogisticRegression(random_state=0).fit(xTrain, yTrain) 
    return clf

"GAUSSIAN NAIVE BAYES"
def gaussNB(xTrain, yTrain):
    # from sklearn document on GaussianNB
    clf = GaussianNB().fit(xTrain, yTrain)
    return clf

"RANDOM FOREST"
def randForest(xTrain, yTrain):
    clf = RandomForestClassifier().fit(xTrain, yTrain)
    return clf

"ADABOOST"
def ada(xTrain, yTrain):
    clf = AdaBoostClassifier(n_estimators = 100, random_state = 0).fit(xTrain, yTrain)
    return clf

In [13]:
"LOGISTIC REGRESSION"

'LOGISTIC REGRESSION'

In [14]:
lr = logReg(xTrain, yTrain)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0

In [ ]:
print("Logistic Regression train set score: ", accuracy_score(yTrain, lr.predict(xTrain)))
tn, fp, fn, tp = confusion_matrix(yTrain, lr.predict(xTrain)).ravel()
print("Confusion Matrix Results: ", tn, fp, fn, tp)

In [ ]:
print("Logistic Regression test set score: ", accuracy_score(yTest, lr.predict(xTest)))
tn, fp, fn, tp = confusion_matrix(yTest, lr.predict(xTest)).ravel()
print("Confusion Matrix Results: ", tn, fp, fn, tp)

In [ ]:
disp = plot_confusion_matrix(lr, xTest, yTest, cmap=plt.cm.Blues)
disp.ax_.set_title("Logistic Regression")

In [ ]:
metrics.plot_roc_curve(lr, xTest, yTest)

In [ ]:
"GAUSSIAN NAIVE BAYES"

In [ ]:
gNB = gaussNB(xTrain, yTrain)

In [ ]:
print("Gaussian Naive Bayes train set score: ", accuracy_score(yTrain, gNB.predict(xTrain)))
tn, fp, fn, tp = confusion_matrix(yTrain, gNB.predict(xTrain)).ravel()
print("Confusion Matrix Results: ", tn, fp, fn, tp)

In [ ]:
print("Gaussian Naive Bayes test set score: ", accuracy_score(yTest, gNB.predict(xTest)))
tn, fp, fn, tp = confusion_matrix(yTest, gNB.predict(xTest)).ravel()
print("Confusion Matrix Results: ", tn, fp, fn, tp)

In [ ]:
disp = plot_confusion_matrix(gNB, xTest, yTest, cmap=plt.cm.Blues)
disp.ax_.set_title("Gaussian Bayes")

In [ ]:
metrics.plot_roc_curve(gNB, xTest, yTest)

In [ ]:
"RANDOM FOREST"

In [ ]:
randomForest = randForest(xTrain, yTrain)

In [ ]:
print("Random Forest train set score: ", accuracy_score(yTrain, randomForest.predict(xTrain)))
tn, fp, fn, tp = confusion_matrix(yTrain, randomForest.predict(xTrain)).ravel()
print("Confusion Matrix Results: ", tn, fp, fn, tp)

In [ ]:
print("Random Forest test set score: ", accuracy_score(yTest, randomForest.predict(xTest)))
tn, fp, fn, tp = confusion_matrix(yTest, randomForest.predict(xTest)).ravel()
print("Confusion Matrix Results: ", tn, fp, fn, tp)

In [ ]:
disp = plot_confusion_matrix(randomForest, xTest, yTest, cmap=plt.cm.Blues)
disp.ax_.set_title("Random Forest")

In [ ]:
metrics.plot_roc_curve(randomForest, xTest, yTest)

In [ ]:
"ADABOOST"

In [ ]:
adaboost = ada(xTrain, yTrain)

In [ ]:
print("Adaboost train set score: ", accuracy_score(yTrain, adaboost.predict(xTrain)))
tn, fp, fn, tp = confusion_matrix(yTrain, adaboost.predict(xTrain)).ravel()
print("Confusion Matrix Results: ", tn, fp, fn, tp)

In [ ]:
print("Adaboost test set score: ", accuracy_score(yTest, adaboost.predict(xTest)))
tn, fp, fn, tp = confusion_matrix(yTest, adaboost.predict(xTest)).ravel()
print("Confusion Matrix Results: ", tn, fp, fn, tp)

In [ ]:
disp = plot_confusion_matrix(adaboost, xTest, yTest, cmap=plt.cm.Blues)
disp.ax_.set_title("Adaboost")

In [ ]:
metrics.plot_roc_curve(adaboost, xTest, yTest)